body {
  .v-card.rounded-0 {
    @media only screen and (max-width: 960px) {
      background-image: none !important;
    }

    @media only screen and (max-width: 600px) {
      background-image: none !important;
    }
  }

  .v-footer {
    padding: 0;
    .v-card {
      padding: 48px 24;
      border-radius: 0;
    }
  }

  .p1 {
    padding: 8px;
  }

  .p2 {
    padding: 16px;

    @media only screen and (max-width: 960px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .p3 {
    padding: 24px;

    @media only screen and (max-width: 960px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .p6 {
    padding-top: 48px;
    padding-bottom: 48px;

    @media only screen and (max-width: 960px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    @media only screen and (max-width: 600px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .p12 {
    padding: 96px 24px;

    @media only screen and (max-width: 960px) {
      padding: 72px 24px;
    }

    @media only screen and (max-width: 600px) {
      padding: 60px 24px;
    }
  }

  .p24 {
    padding: 192px 24px;

    @media only screen and (max-width: 960px) {
      padding: 96px 24px;
    }

    @media only screen and (max-width: 600px) {
      padding: 72px 24px;
    }
  }
}
