body {
  .v-footer {
    @media only screen and (max-width: 960px) {
      a {
        margin: 12px 0;
        display: block;
      }
    }
  }
  .v-card {
    position: relative;
    background-repeat: repeat;
    background-position: center;
    background-size: 300%;
    .v-card-actions {
      padding: 0.5rem 0;
    }

    backdrop-filter: none;
    backdrop-filter: blur(30px);
  }
  .v-theme--accent {
    background-color: #030303;
    background-image: url("/assets/squares-001.png");
    background-size: contain;
  }
  .v-theme--white {
    background-image: url("/gees/gees-011.png");
  }
  .v-theme--purple {
    background-image: url("/gees/gees-002.png");
  }
  .v-theme--green {
    background-image: url("/gees/gees-005.png");
  }
  .v-theme--pink {
    background-image: url("/gees/gees-008.png");
  }
  .v-theme--yellow {
    background-image: url("/gees/gees-012.png");
  }

  .dark-purple {
    background-image: url("/gees/gees-003.png");
    background-size: 300%;
  }

  .dark-green {
    background-image: url("/gees/gees-006.png");
    background-size: 300%;
  }

  .dark-pink {
    background-image: url("/gees/gees-009.png");
    background-size: 300%;
  }

  .dark-yellow {
    background-image: url("/gees/gees-013.png");
    background-size: 300%;
  }

  .light-primary {
    background-image: url("/gems/gems-001.png");
    background-size: 100%;
  }

  .light-secondary {
    background-image: url("/gems/gems-001.png");
    background-size: 100%;
  }

  .light-purple {
    background-image: url("/gems/gems-001.png");
    background-size: 100%;
  }

  .light-pink {
    background-image: url("/gems/gems-001.png");
    background-size: 100%;
  }

  .light-green {
    background-image: url("/gems/gems-001.png");
    background-size: 100%;
  }

  .light-yellow {
    background-image: url("/gems/gems-001.png");
    background-size: 120px;
  }

  .text-purple {
    color: #9044fc !important;
  }

  .text-pink {
    color: #de49b4;
  }

  .text-green {
    color: #56fdd6 !important;
  }

  .text-yellow {
    color: #ffee6a;
  }
}
